@charset "utf-8";

.ant-table-css-var {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-table-css-var::before, .ant-table-css-var::after {
  box-sizing: border-box;
}

.ant-table-css-var [class^="ant-table"],
.ant-table-css-var [class*=" ant-table"] {
  box-sizing: border-box;
}

.ant-table-css-var [class^="ant-table"]::before,
.ant-table-css-var [class*=" ant-table"]::before,
.ant-table-css-var [class^="ant-table"]::after,
.ant-table-css-var [class*=" ant-table"]::after {
  box-sizing: border-box;
}

.ant-table-wrapper {
  clear: both;
  max-width: 100%;
}

.ant-table-wrapper::before {
  display: table;
  content: "";
}

.ant-table-wrapper::after {
  display: table;
  clear: both;
  content: "";
}

.ant-table-wrapper .ant-table {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--ant-color-text);
  font-size: var(--ant-table-cell-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-table-header-border-radius)
    var(--ant-table-header-border-radius) 0 0;
  scrollbar-color: var(--ant-table-sticky-scroll-bar-bg) var(--ant-color-split);
}

.ant-table-wrapper table {
  width: 100%;
  text-align: start;
  border-radius: var(--ant-table-header-border-radius)
    var(--ant-table-header-border-radius) 0 0;
  border-collapse: separate;
  border-spacing: 0px;
}

.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper tfoot > tr > th,
.ant-table-wrapper tfoot > tr > td {
  position: relative;
  padding: var(--ant-table-cell-padding-block)
    var(--ant-table-cell-padding-inline);
  overflow-wrap: break-word;
}

.ant-table-wrapper .ant-table-title {
  padding: var(--ant-table-cell-padding-block)
    var(--ant-table-cell-padding-inline);
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  position: relative;
  color: var(--ant-table-header-color);
  font-weight: var(--ant-font-weight-strong);
  text-align: start;
  background: var(--ant-table-header-bg);
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  transition: background var(--ant-motion-duration-mid) ease;
}

.ant-table-wrapper .ant-table-thead > tr > th[colspan]:not([colspan="1"]),
.ant-table-wrapper .ant-table-thead > tr > td[colspan]:not([colspan="1"]) {
  text-align: center;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0px;
  width: 1px;
  height: 1.6em;
  background-color: var(--ant-table-header-split-color);
  transform: translateY(-50%);
  transition: background-color var(--ant-motion-duration-mid);
  content: "";
}

.ant-table-wrapper .ant-table-thead > tr:not(:last-child) > th[colspan] {
  border-bottom: 0px;
}

.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
  transition:
    background var(--ant-motion-duration-mid),
    border-color var(--ant-motion-duration-mid);
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-wrapper:only-child
  .ant-table,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table {
  margin-block: calc(var(--ant-table-cell-padding-block) * -1);
  margin-inline: calc(
    calc(var(--ant-control-interactive-size) + var(--ant-padding) * 2)
      - var(--ant-table-cell-padding-inline)
  ) calc(var(--ant-table-cell-padding-inline) * -1);
}

.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td {
  border-bottom-width: 0px;
}

.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:first-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:first-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:first-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:first-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:last-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:last-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:last-child,
.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child
  .ant-table
  .ant-table-tbody
  > tr:last-child
  > td:last-child {
  border-radius: 0px;
}

.ant-table-wrapper .ant-table-tbody > tr > th {
  position: relative;
  color: var(--ant-table-header-color);
  font-weight: var(--ant-font-weight-strong);
  text-align: start;
  background: var(--ant-table-header-bg);
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  transition: background var(--ant-motion-duration-mid) ease;
}

.ant-table-wrapper .ant-table-footer {
  padding: var(--ant-table-cell-padding-block)
    var(--ant-table-cell-padding-inline);
  color: var(--ant-table-footer-color);
  background: var(--ant-table-footer-bg);
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: var(--ant-margin) 0;
}

.ant-table-wrapper .ant-table-pagination {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--ant-padding-xs);
}

.ant-table-wrapper .ant-table-pagination > * {
  flex: 0 0 auto;
}

.ant-table-wrapper .ant-table-pagination-left {
  justify-content: flex-start;
}

.ant-table-wrapper .ant-table-pagination-center {
  justify-content: center;
}

.ant-table-wrapper .ant-table-pagination-right {
  justify-content: flex-end;
}

.ant-table-wrapper .ant-table-summary {
  position: relative;
  z-index: 2;
  background: var(--ant-color-bg-container);
}

.ant-table-wrapper .ant-table-summary > tr > th,
.ant-table-wrapper .ant-table-summary > tr > td {
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper div.ant-table-summary {
  box-shadow: 0 calc(var(--ant-line-width) * -1) 0
    var(--ant-table-border-color);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters {
  outline: none;
  cursor: pointer;
  transition: all var(--ant-motion-duration-slow), left 0s;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: var(--ant-table-header-sort-hover-bg);
}

.ant-table-wrapper
  .ant-table-thead
  th.ant-table-column-has-sorters:hover::before {
  background-color: transparent !important;
}

.ant-table-wrapper
  .ant-table-thead
  th.ant-table-column-has-sorters:focus-visible {
  color: var(--ant-color-primary);
}

.ant-table-wrapper
  .ant-table-thead
  th.ant-table-column-has-sorters.ant-table-cell-fix-left:hover,
.ant-table-wrapper
  .ant-table-thead
  th.ant-table-column-has-sorters.ant-table-cell-fix-right:hover {
  background: var(--ant-table-fixed-header-sort-active-bg);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: var(--ant-table-header-sort-active-bg);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort::before {
  background-color: transparent !important;
}

.ant-table-wrapper td.ant-table-column-sort {
  background: var(--ant-table-body-sort-bg);
}

.ant-table-wrapper .ant-table-column-title {
  position: relative;
  z-index: 1;
  flex: 1 1 0%;
  min-width: 0px;
}

.ant-table-wrapper .ant-table-column-sorters {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}

.ant-table-wrapper .ant-table-column-sorters::after {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  content: "";
}

.ant-table-wrapper .ant-table-column-sorters-tooltip-target-sorter::after {
  content: none;
}

.ant-table-wrapper .ant-table-column-sorter {
  margin-inline-start: var(--ant-margin-xxs);
  color: var(--ant-table-header-icon-color);
  font-size: 0px;
  transition: color var(--ant-motion-duration-slow);
}

.ant-table-wrapper .ant-table-column-sorter-inner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.ant-table-wrapper .ant-table-column-sorter-up,
.ant-table-wrapper .ant-table-column-sorter-down {
  font-size: var(--ant-font-size-icon);
}

.ant-table-wrapper .ant-table-column-sorter-up.active,
.ant-table-wrapper .ant-table-column-sorter-down.active {
  color: var(--ant-color-primary);
}

.ant-table-wrapper
  .ant-table-column-sorter
  .ant-table-column-sorter-up
  + .ant-table-column-sorter-down {
  margin-top: -0.3em;
}

.ant-table-wrapper .ant-table-column-sorters:hover .ant-table-column-sorter {
  color: var(--ant-table-header-icon-hover-color);
}

.ant-table-wrapper .ant-table-filter-column {
  display: flex;
  justify-content: space-between;
}

.ant-table-wrapper .ant-table-filter-trigger {
  position: relative;
  display: flex;
  align-items: center;
  margin-block: calc(var(--ant-padding-xxs) * -1);
  margin-inline: var(--ant-padding-xxs)
    calc(var(--ant-table-cell-padding-inline) / 2 * -1);
  padding: 0 var(--ant-padding-xxs);
  color: var(--ant-table-header-icon-color);
  font-size: var(--ant-font-size-sm);
  border-radius: var(--ant-border-radius);
  cursor: pointer;
  transition: all var(--ant-motion-duration-slow);
}

.ant-table-wrapper .ant-table-filter-trigger:hover {
  color: var(--ant-color-text-description);
  background: var(--ant-table-header-filter-hover-bg);
}

.ant-table-wrapper .ant-table-filter-trigger.active {
  color: var(--ant-color-primary);
}

.ant-dropdown .ant-table-filter-dropdown {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  min-width: 120px;
  background-color: var(--ant-table-filter-dropdown-bg);
  border-radius: var(--ant-border-radius);
  box-shadow: var(--ant-box-shadow-secondary);
  overflow: hidden;
}

.ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu {
  max-height: 264px;
  overflow-x: hidden;
  border: 0px;
  box-shadow: none;
  border-radius: unset;
  background-color: var(--ant-table-filter-dropdown-menu-bg);
}

.ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu:empty::after {
  display: block;
  padding: var(--ant-padding-xs) 0;
  color: var(--ant-color-text-disabled);
  font-size: var(--ant-font-size-sm);
  text-align: center;
  content: "Not Found";
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-tree {
  padding-block: var(--ant-padding-xs) 0;
  padding-inline: var(--ant-padding-xs);
}

.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-tree
  .ant-tree {
  padding: 0px;
}

.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-tree
  .ant-tree-treenode
  .ant-tree-node-content-wrapper:hover {
  background-color: var(--ant-control-item-bg-hover);
}

.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-tree
  .ant-tree-treenode-checkbox-checked
  .ant-tree-node-content-wrapper,
.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-tree
  .ant-tree-treenode-checkbox-checked
  .ant-tree-node-content-wrapper:hover {
  background-color: var(--ant-control-item-bg-active);
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-search {
  padding: var(--ant-padding-xs);
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-search-input
  input {
  min-width: 140px;
}

.ant-dropdown
  .ant-table-filter-dropdown
  .ant-table-filter-dropdown-search-input
  .anticon {
  color: var(--ant-color-text-disabled);
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-checkall {
  width: 100%;
  margin-bottom: var(--ant-padding-xxs);
  margin-inline-start: var(--ant-padding-xxs);
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-btns {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--ant-padding-xs) - var(--ant-line-width))
    var(--ant-padding-xs);
  overflow: hidden;
  border-top: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-dropdown .ant-table-filter-dropdown .ant-checkbox-wrapper + span,
.ant-table-filter-dropdown-submenu .ant-checkbox-wrapper + span {
  padding-inline-start: var(--ant-padding-xs);
  color: var(--ant-color-text);
}

.ant-dropdown .ant-table-filter-dropdown > ul,
.ant-table-filter-dropdown-submenu > ul {
  max-height: calc(-130px + 100vh);
  overflow: hidden auto;
}

.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-title {
  border-top-color: ;
  border-top-style: ;
  border-top-width: ;
  border-right-color: ;
  border-right-style: ;
  border-right-width: ;
  border-left-color: ;
  border-left-style: ;
  border-left-width: ;
  border-image-source: ;
  border-image-slice: ;
  border-image-width: ;
  border-image-outset: ;
  border-image-repeat: ;
  border-bottom: 0px;
}

.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container {
  border-inline-start: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  border-top: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > td {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr:not(:last-child)
  > th {
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th::before,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th::before,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th::before,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > th::before {
  background-color: transparent !important;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: calc(var(--ant-table-cell-padding-block) * -1)
    calc((var(--ant-table-cell-padding-inline) + var(--ant-line-width)) * -1);
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after {
  position: absolute;
  top: 0px;
  inset-inline-end: var(--ant-line-width);
  bottom: 0px;
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  content: "";
}

.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-expanded-row
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-placeholder
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-expanded-row
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-placeholder
  > td {
  border-inline-end: 0px;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: calc(var(--ant-table-cell-padding-block-md) * -1)
    calc(
      (var(--ant-table-cell-padding-inline-md) + var(--ant-line-width)) * -1
    );
}

.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > th
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table-wrapper
  .ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: calc(var(--ant-table-cell-padding-block-sm) * -1)
    calc(
      (var(--ant-table-cell-padding-inline-sm) + var(--ant-line-width)) * -1
    );
}

.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-footer {
  border-right-color: ;
  border-right-style: ;
  border-right-width: ;
  border-bottom-color: ;
  border-bottom-style: ;
  border-bottom-width: ;
  border-left-color: ;
  border-left-style: ;
  border-left-width: ;
  border-image-source: ;
  border-image-slice: ;
  border-image-width: ;
  border-image-outset: ;
  border-image-repeat: ;
  border-top: 0px;
}

.ant-table-wrapper .ant-table-cell .ant-table-container:first-child {
  border-top: 0px;
}

.ant-table-wrapper .ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: 0 var(--ant-line-width) 0 var(--ant-line-width)
    var(--ant-table-header-bg);
}

.ant-table-wrapper .ant-table-bordered .ant-table-cell-scrollbar {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper .ant-table .ant-table-title,
.ant-table-wrapper .ant-table .ant-table-header {
  border-radius: var(--ant-table-header-border-radius)
    var(--ant-table-header-border-radius) 0 0;
}

.ant-table-wrapper .ant-table .ant-table-title + .ant-table-container {
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
}

.ant-table-wrapper
  .ant-table
  .ant-table-title
  + .ant-table-container
  .ant-table-header,
.ant-table-wrapper .ant-table .ant-table-title + .ant-table-container table {
  border-radius: 0px;
}

.ant-table-wrapper
  .ant-table
  .ant-table-title
  + .ant-table-container
  table
  > thead
  > tr:first-child
  th:first-child,
.ant-table-wrapper
  .ant-table
  .ant-table-title
  + .ant-table-container
  table
  > thead
  > tr:first-child
  th:last-child,
.ant-table-wrapper
  .ant-table
  .ant-table-title
  + .ant-table-container
  table
  > thead
  > tr:first-child
  td:first-child,
.ant-table-wrapper
  .ant-table
  .ant-table-title
  + .ant-table-container
  table
  > thead
  > tr:first-child
  td:last-child {
  border-radius: 0px;
}

.ant-table-wrapper .ant-table-container {
  border-start-start-radius: var(--ant-table-header-border-radius);
  border-start-end-radius: var(--ant-table-header-border-radius);
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :first-child {
  border-start-start-radius: var(--ant-table-header-border-radius);
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :last-child {
  border-start-end-radius: var(--ant-table-header-border-radius);
}

.ant-table-wrapper .ant-table-footer {
  border-radius: 0 0 var(--ant-table-header-border-radius)
    var(--ant-table-header-border-radius);
}

.ant-table-wrapper .ant-table-expand-icon-col {
  width: calc(var(--ant-control-interactive-size) + var(--ant-padding) * 2);
}

.ant-table-wrapper .ant-table-row-expand-icon-cell {
  text-align: center;
}

.ant-table-wrapper .ant-table-row-expand-icon-cell .ant-table-row-expand-icon {
  display: inline-flex;
  float: none;
  vertical-align: sub;
}

.ant-table-wrapper .ant-table-row-indent {
  height: 1px;
  float: left;
}

.ant-table-wrapper .ant-table-row-expand-icon {
  color: inherit;
  text-decoration: var(--ant-link-decoration);
  outline: none;
  cursor: pointer;
  transition: all var(--ant-motion-duration-slow);
  border: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  padding: 0px;
  background: var(--ant-table-expand-icon-bg);
  user-select: none;
  position: relative;
  float: left;
  width: var(--ant-table-expand-icon-size);
  height: var(--ant-table-expand-icon-size);
  line-height: var(--ant-table-expand-icon-size);
  border-radius: var(--ant-border-radius);
  transform: scale(var(--ant-table-expand-icon-scale));
}

.ant-table-wrapper .ant-table-row-expand-icon:focus-visible {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
  transition: outline-offset, outline;
}

.ant-table-wrapper .ant-table-row-expand-icon:focus,
.ant-table-wrapper .ant-table-row-expand-icon:hover {
  color: var(--ant-color-link-hover);
}

.ant-table-wrapper .ant-table-row-expand-icon:active {
  color: var(--ant-color-link-active);
}

.ant-table-wrapper .ant-table-row-expand-icon:focus,
.ant-table-wrapper .ant-table-row-expand-icon:hover,
.ant-table-wrapper .ant-table-row-expand-icon:active {
  border-color: currentcolor;
}

.ant-table-wrapper .ant-table-row-expand-icon::before,
.ant-table-wrapper .ant-table-row-expand-icon::after {
  position: absolute;
  background: currentcolor;
  transition: transform var(--ant-motion-duration-slow) ease-out;
  content: "";
}

.ant-table-wrapper .ant-table-row-expand-icon::before {
  top: var(--ant-table-expand-icon-half-inner);
  inset-inline-end: calc(var(--ant-padding-xxs) - var(--ant-line-width));
  inset-inline-start: calc(var(--ant-padding-xxs) - var(--ant-line-width));
  height: var(--ant-line-width);
}

.ant-table-wrapper .ant-table-row-expand-icon::after {
  top: calc(var(--ant-padding-xxs) - var(--ant-line-width));
  bottom: calc(var(--ant-padding-xxs) - var(--ant-line-width));
  inset-inline-start: var(--ant-table-expand-icon-half-inner);
  width: var(--ant-line-width);
  transform: rotate(90deg);
}

.ant-table-wrapper .ant-table-row-expand-icon-collapsed::before {
  transform: rotate(-180deg);
}

.ant-table-wrapper .ant-table-row-expand-icon-collapsed::after {
  transform: rotate(0deg);
}

.ant-table-wrapper .ant-table-row-expand-icon-spaced {
  background: transparent;
  border: 0px;
  visibility: hidden;
}

.ant-table-wrapper .ant-table-row-expand-icon-spaced::before,
.ant-table-wrapper .ant-table-row-expand-icon-spaced::after {
  display: none;
  content: none;
}

.ant-table-wrapper .ant-table-row-indent + .ant-table-row-expand-icon {
  margin-top: var(--ant-table-expand-icon-margin-top);
  margin-inline-end: var(--ant-padding-xs);
}

.ant-table-wrapper tr.ant-table-expanded-row > th,
.ant-table-wrapper tr.ant-table-expanded-row:hover > th,
.ant-table-wrapper tr.ant-table-expanded-row > td,
.ant-table-wrapper tr.ant-table-expanded-row:hover > td {
  background: var(--ant-table-row-expanded-bg);
}

.ant-table-wrapper tr.ant-table-expanded-row .ant-descriptions-view {
  display: flex;
}

.ant-table-wrapper tr.ant-table-expanded-row .ant-descriptions-view table {
  flex: 1 1 auto;
  width: 100%;
}

.ant-table-wrapper .ant-table-expanded-row-fixed {
  position: relative;
  margin: calc(var(--ant-table-cell-padding-block) * -1)
    calc(var(--ant-table-cell-padding-inline) * -1);
  padding: var(--ant-table-cell-padding-block)
    var(--ant-table-cell-padding-inline);
}

.ant-table-wrapper .ant-table-summary {
  position: relative;
  z-index: 2;
  background: var(--ant-color-bg-container);
}

.ant-table-wrapper .ant-table-summary > tr > th,
.ant-table-wrapper .ant-table-summary > tr > td {
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper div.ant-table-summary {
  box-shadow: 0 calc(var(--ant-line-width) * -1) 0
    var(--ant-table-border-color);
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
  text-align: center;
  color: var(--ant-color-text-disabled);
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > th,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
  background: var(--ant-color-bg-container);
}

.ant-table-wrapper .ant-table-selection-col {
  width: var(--ant-table-selection-column-width);
}

.ant-table-wrapper
  .ant-table-selection-col.ant-table-selection-col-with-dropdown {
  width: calc(
    var(--ant-table-selection-column-width) + var(--ant-font-size-icon)
      + var(--ant-padding) / 4
  );
}

.ant-table-wrapper .ant-table-bordered .ant-table-selection-col {
  width: calc(
    var(--ant-table-selection-column-width) + var(--ant-padding-xs) * 2
  );
}

.ant-table-wrapper
  .ant-table-bordered
  .ant-table-selection-col.ant-table-selection-col-with-dropdown {
  width: calc(
    var(--ant-table-selection-column-width) + var(--ant-font-size-icon)
      + var(--ant-padding) / 4
      + var(--ant-padding-xs) * 2
  );
}

.ant-table-wrapper table tr th.ant-table-selection-column,
.ant-table-wrapper table tr td.ant-table-selection-column,
.ant-table-wrapper .ant-table-selection-column {
  padding-inline-end: var(--ant-padding-xs);
  padding-inline-start: var(--ant-padding-xs);
  text-align: center;
}

.ant-table-wrapper table tr th.ant-table-selection-column .ant-radio-wrapper,
.ant-table-wrapper table tr td.ant-table-selection-column .ant-radio-wrapper,
.ant-table-wrapper .ant-table-selection-column .ant-radio-wrapper {
  margin-inline-end: 0px;
}

.ant-table-wrapper
  table
  tr
  th.ant-table-selection-column.ant-table-cell-fix-left {
  z-index: calc(3);
}

.ant-table-wrapper table tr th.ant-table-selection-column::after {
  background-color: transparent !important;
}

.ant-table-wrapper .ant-table-selection {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.ant-table-wrapper .ant-table-selection-extra {
  position: absolute;
  top: 0px;
  z-index: 1;
  cursor: pointer;
  transition: all var(--ant-motion-duration-slow);
  margin-inline-start: 100%;
  padding-inline-start: calc(var(--ant-table-cell-padding-inline) / 4);
}

.ant-table-wrapper .ant-table-selection-extra .anticon {
  color: var(--ant-table-header-icon-color);
  font-size: var(--ant-font-size-icon);
  vertical-align: baseline;
}

.ant-table-wrapper .ant-table-selection-extra .anticon:hover {
  color: var(--ant-table-header-icon-hover-color);
}

.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background: var(--ant-table-row-selected-bg);
}

.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell-row-hover {
  background: var(--ant-table-row-selected-hover-bg);
}

.ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  background: var(--ant-table-row-hover-bg);
}

.ant-table-wrapper .ant-table-cell-fix-left,
.ant-table-wrapper .ant-table-cell-fix-right {
  z-index: 2;
  background: var(--ant-color-bg-container);
  position: sticky !important;
}

.ant-table-wrapper .ant-table-cell-fix-left-first::after,
.ant-table-wrapper .ant-table-cell-fix-left-last::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: calc(var(--ant-line-width) * -1);
  width: 30px;
  transform: translateX(100%);
  transition: box-shadow var(--ant-motion-duration-slow);
  content: "";
  pointer-events: none;
}

.ant-table-wrapper .ant-table-cell-fix-left-all::after {
  display: none;
}

.ant-table-wrapper .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table-cell-fix-right-last::after {
  position: absolute;
  top: 0px;
  bottom: calc(var(--ant-line-width) * -1);
  left: 0px;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow var(--ant-motion-duration-slow);
  content: "";
  pointer-events: none;
}

.ant-table-wrapper .ant-table-container {
  position: relative;
}

.ant-table-wrapper .ant-table-container::before,
.ant-table-wrapper .ant-table-container::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: calc(4);
  width: 30px;
  transition: box-shadow var(--ant-motion-duration-slow);
  content: "";
  pointer-events: none;
}

.ant-table-wrapper .ant-table-container::before {
  inset-inline-start: 0px;
}

.ant-table-wrapper .ant-table-container::after {
  inset-inline-end: 0px;
}

.ant-table-wrapper
  .ant-table-ping-left:not(.ant-table-has-fix-left)
  .ant-table-container::before {
  box-shadow: inset 10px 0 8px -8px var(--ant-color-split);
}

.ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-first::after,
.ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-last::after {
  box-shadow: inset 10px 0 8px -8px var(--ant-color-split);
}

.ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-last::before {
  background-color: transparent !important;
}

.ant-table-wrapper
  .ant-table-ping-right:not(.ant-table-has-fix-right)
  .ant-table-container::after {
  box-shadow: inset -10px 0 8px -8px var(--ant-color-split);
}

.ant-table-wrapper .ant-table-ping-right .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table-ping-right .ant-table-cell-fix-right-last::after {
  box-shadow: inset -10px 0 8px -8px var(--ant-color-split);
}

.ant-table-wrapper
  .ant-table-fixed-column-gapped
  .ant-table-cell-fix-left-first::after,
.ant-table-wrapper
  .ant-table-fixed-column-gapped
  .ant-table-cell-fix-left-last::after,
.ant-table-wrapper
  .ant-table-fixed-column-gapped
  .ant-table-cell-fix-right-first::after,
.ant-table-wrapper
  .ant-table-fixed-column-gapped
  .ant-table-cell-fix-right-last::after {
  box-shadow: none;
}

.ant-table-wrapper .ant-table-sticky-holder {
  position: sticky;
  z-index: calc(3);
  background: var(--ant-color-bg-container);
}

.ant-table-wrapper .ant-table-sticky-scroll {
  position: sticky;
  bottom: 0px;
  z-index: calc(3);
  display: flex;
  align-items: center;
  background: var(--ant-color-split);
  border-top: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  opacity: var(--ant-opacity-loading);
  height: 8px !important;
}

.ant-table-wrapper .ant-table-sticky-scroll:hover {
  transform-origin: center bottom;
}

.ant-table-wrapper .ant-table-sticky-scroll-bar {
  height: 8px;
  background-color: var(--ant-table-sticky-scroll-bar-bg);
  border-radius: var(--ant-table-sticky-scroll-bar-border-radius);
  transition: all var(--ant-motion-duration-slow), transform 0s;
  position: absolute;
  bottom: 0px;
}

.ant-table-wrapper .ant-table-sticky-scroll-bar:hover,
.ant-table-wrapper .ant-table-sticky-scroll-bar-active {
  background-color: var(--ant-color-text-heading);
}

.ant-table-wrapper .ant-table-cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.ant-table-wrapper .ant-table-cell-ellipsis.ant-table-cell-fix-left-last,
.ant-table-wrapper .ant-table-cell-ellipsis.ant-table-cell-fix-right-first {
  overflow: visible;
}

.ant-table-wrapper
  .ant-table-cell-ellipsis.ant-table-cell-fix-left-last
  .ant-table-cell-content,
.ant-table-wrapper
  .ant-table-cell-ellipsis.ant-table-cell-fix-right-first
  .ant-table-cell-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-wrapper .ant-table-cell-ellipsis .ant-table-column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.ant-table-wrapper .ant-table.ant-table-middle {
  font-size: var(--ant-table-cell-font-size-md);
}

.ant-table-wrapper .ant-table.ant-table-middle .ant-table-title,
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-footer,
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-cell,
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-middle tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-middle tfoot > tr > td {
  padding: var(--ant-table-cell-padding-block-md)
    var(--ant-table-cell-padding-inline-md);
}

.ant-table-wrapper .ant-table.ant-table-middle .ant-table-filter-trigger {
  margin-inline-end: calc(var(--ant-table-cell-padding-inline-md) / 2 * -1);
}

.ant-table-wrapper .ant-table.ant-table-middle .ant-table-expanded-row-fixed {
  margin: calc(var(--ant-table-cell-padding-block-md) * -1)
    calc(var(--ant-table-cell-padding-inline-md) * -1);
}

.ant-table-wrapper
  .ant-table.ant-table-middle
  .ant-table-tbody
  .ant-table-wrapper:only-child
  .ant-table {
  margin-block: calc(var(--ant-table-cell-padding-block-md) * -1);
  margin-inline: calc(
    calc(var(--ant-control-interactive-size) + var(--ant-padding) * 2)
      - var(--ant-table-cell-padding-inline-md)
  ) calc(var(--ant-table-cell-padding-inline-md) * -1);
}

.ant-table-wrapper .ant-table.ant-table-middle .ant-table-selection-extra {
  padding-inline-start: calc(var(--ant-table-cell-padding-inline-md) / 4);
}

.ant-table-wrapper .ant-table.ant-table-small {
  font-size: var(--ant-table-cell-font-size-sm);
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-title,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-footer,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-cell,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-small tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-small tfoot > tr > td {
  padding: var(--ant-table-cell-padding-block-sm)
    var(--ant-table-cell-padding-inline-sm);
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-filter-trigger {
  margin-inline-end: calc(var(--ant-table-cell-padding-inline-sm) / 2 * -1);
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-expanded-row-fixed {
  margin: calc(var(--ant-table-cell-padding-block-sm) * -1)
    calc(var(--ant-table-cell-padding-inline-sm) * -1);
}

.ant-table-wrapper
  .ant-table.ant-table-small
  .ant-table-tbody
  .ant-table-wrapper:only-child
  .ant-table {
  margin-block: calc(var(--ant-table-cell-padding-block-sm) * -1);
  margin-inline: calc(
    calc(var(--ant-control-interactive-size) + var(--ant-padding) * 2)
      - var(--ant-table-cell-padding-inline-sm)
  ) calc(var(--ant-table-cell-padding-inline-sm) * -1);
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-selection-extra {
  padding-inline-start: calc(var(--ant-table-cell-padding-inline-sm) / 4);
}

.ant-table-wrapper-rtl {
  direction: rtl;
}

.ant-table-wrapper-rtl table {
  direction: rtl;
}

.ant-table-wrapper-rtl .ant-table-pagination-left {
  justify-content: flex-end;
}

.ant-table-wrapper-rtl .ant-table-pagination-right {
  justify-content: flex-start;
}

.ant-table-wrapper-rtl .ant-table-row-expand-icon {
  float: right;
}

.ant-table-wrapper-rtl .ant-table-row-expand-icon::after {
  transform: rotate(-90deg);
}

.ant-table-wrapper-rtl .ant-table-row-expand-icon-collapsed::before {
  transform: rotate(180deg);
}

.ant-table-wrapper-rtl .ant-table-row-expand-icon-collapsed::after {
  transform: rotate(0deg);
}

.ant-table-wrapper-rtl .ant-table-container::before {
  inset-inline-start: unset;
  inset-inline-end: 0px;
}

.ant-table-wrapper-rtl .ant-table-container::after {
  inset-inline-start: 0px;
  inset-inline-end: unset;
}

.ant-table-wrapper-rtl .ant-table-container .ant-table-row-indent {
  float: right;
}

.ant-table-wrapper
  .ant-table-tbody-virtual
  .ant-table-tbody-virtual-holder-inner
  > .ant-table-row,
.ant-table-wrapper
  .ant-table-tbody-virtual
  .ant-table-tbody-virtual-holder-inner
  > div:not(.ant-table-row)
  > .ant-table-row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.ant-table-wrapper .ant-table-tbody-virtual .ant-table-cell {
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  transition: background var(--ant-motion-duration-mid);
}

.ant-table-wrapper
  .ant-table-tbody-virtual
  .ant-table-expanded-row
  .ant-table-expanded-row-cell.ant-table-expanded-row-cell-fixed {
  position: sticky;
  inset-inline-start: 0px;
  overflow: hidden;
  width: calc(var(--virtual-width) - var(--ant-line-width));
  border-inline-end: none;
}

.ant-table-wrapper .ant-table-bordered .ant-table-tbody-virtual::after {
  content: "";
  inset-inline: 0px;
  bottom: 0px;
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  position: absolute;
}

.ant-table-wrapper
  .ant-table-bordered
  .ant-table-tbody-virtual
  .ant-table-cell {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table-bordered
  .ant-table-tbody-virtual
  .ant-table-cell.ant-table-cell-fix-right-first::before {
  content: "";
  position: absolute;
  inset-block: 0px;
  inset-inline-start: calc(var(--ant-line-width) * -1);
  border-inline-start: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}

.ant-table-wrapper
  .ant-table-bordered.ant-table-virtual
  .ant-table-placeholder
  .ant-table-cell {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-table-border-color);
}
