@charset "utf-8";

:where(.css-1261szd).ant-flex {
  display: flex;
  margin: 0px;
  padding: 0px;
}

:where(.css-1261szd).ant-flex-vertical {
  flex-direction: column;
}

:where(.css-1261szd).ant-flex-rtl {
  direction: rtl;
}

:where(.css-1261szd).ant-flex:empty {
  display: none;
}

:where(.css-1261szd).ant-flex-gap-small {
  gap: 8px;
}

:where(.css-1261szd).ant-flex-gap-middle {
  gap: 16px;
}

:where(.css-1261szd).ant-flex-gap-large {
  gap: 24px;
}

:where(.css-1261szd).ant-flex-wrap-wrap {
  flex-wrap: wrap;
}

:where(.css-1261szd).ant-flex-wrap-nowrap {
  flex-wrap: nowrap;
}

:where(.css-1261szd).ant-flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

:where(.css-1261szd).ant-flex-align-center {
  align-items: center;
}

:where(.css-1261szd).ant-flex-align-start {
  align-items: start;
}

:where(.css-1261szd).ant-flex-align-end {
  align-items: end;
}

:where(.css-1261szd).ant-flex-align-flex-start {
  align-items: flex-start;
}

:where(.css-1261szd).ant-flex-align-flex-end {
  align-items: flex-end;
}

:where(.css-1261szd).ant-flex-align-self-start {
  align-items: self-start;
}

:where(.css-1261szd).ant-flex-align-self-end {
  align-items: self-end;
}

:where(.css-1261szd).ant-flex-align-baseline {
  align-items: baseline;
}

:where(.css-1261szd).ant-flex-align-normal {
  align-items: normal;
}

:where(.css-1261szd).ant-flex-align-stretch {
  align-items: stretch;
}

:where(.css-1261szd).ant-flex-justify-flex-start {
  justify-content: flex-start;
}

:where(.css-1261szd).ant-flex-justify-flex-end {
  justify-content: flex-end;
}

:where(.css-1261szd).ant-flex-justify-start {
  justify-content: start;
}

:where(.css-1261szd).ant-flex-justify-end {
  justify-content: end;
}

:where(.css-1261szd).ant-flex-justify-center {
  justify-content: center;
}

:where(.css-1261szd).ant-flex-justify-space-between {
  justify-content: space-between;
}

:where(.css-1261szd).ant-flex-justify-space-around {
  justify-content: space-around;
}

:where(.css-1261szd).ant-flex-justify-space-evenly {
  justify-content: space-evenly;
}

:where(.css-1261szd).ant-flex-justify-stretch {
  justify-content: stretch;
}

:where(.css-1261szd).ant-flex-justify-normal {
  justify-content: normal;
}

:where(.css-1261szd).ant-flex-justify-left {
  justify-content: left;
}

:where(.css-1261szd).ant-flex-justify-right {
  justify-content: right;
}
