@charset "utf-8";

:where(.css-1261szd).ant-spin { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1261szd).ant-spin::before, :where(.css-1261szd).ant-spin::after { box-sizing: border-box; }

:where(.css-1261szd).ant-spin [class^="ant-spin"], :where(.css-1261szd).ant-spin [class*=" ant-spin"] { box-sizing: border-box; }

:where(.css-1261szd).ant-spin [class^="ant-spin"]::before, :where(.css-1261szd).ant-spin [class*=" ant-spin"]::before, :where(.css-1261szd).ant-spin [class^="ant-spin"]::after, :where(.css-1261szd).ant-spin [class*=" ant-spin"]::after { box-sizing: border-box; }

:where(.css-1261szd).ant-spin { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(22, 119, 255); font-size: 0px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: absolute; display: none; text-align: center; vertical-align: middle; opacity: 0; transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86); }

:where(.css-1261szd).ant-spin-spinning { position: relative; display: inline-block; opacity: 1; }

:where(.css-1261szd).ant-spin .ant-spin-text { font-size: 14px; padding-top: 5px; }

:where(.css-1261szd).ant-spin-fullscreen { position: fixed; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.45); z-index: 1000; inset: 0px; display: flex; align-items: center; flex-direction: column; justify-content: center; opacity: 0; visibility: hidden; transition: 0.2s; }

:where(.css-1261szd).ant-spin-fullscreen-show { opacity: 1; visibility: visible; }

:where(.css-1261szd).ant-spin-fullscreen .ant-spin .ant-spin-dot-holder { color: rgb(255, 255, 255); }

:where(.css-1261szd).ant-spin-fullscreen .ant-spin .ant-spin-text { color: rgb(255, 255, 255); }

:where(.css-1261szd).ant-spin-nested-loading { position: relative; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin { position: absolute; top: 0px; inset-inline-start: 0px; z-index: 4; display: block; width: 100%; height: 100%; max-height: 400px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin .ant-spin-dot { position: absolute; top: 50%; inset-inline-start: 50%; margin: -10px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin .ant-spin-text { position: absolute; top: 50%; width: 100%; text-shadow: rgb(255, 255, 255) 0px 1px 2px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin.ant-spin-show-text .ant-spin-dot { margin-top: -20px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-sm .ant-spin-dot { margin: -7px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-sm .ant-spin-text { padding-top: 2px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-sm.ant-spin-show-text .ant-spin-dot { margin-top: -17px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-lg .ant-spin-dot { margin: -16px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-lg .ant-spin-text { padding-top: 11px; }

:where(.css-1261szd).ant-spin-nested-loading > div > .ant-spin-lg.ant-spin-show-text .ant-spin-dot { margin-top: -26px; }

:where(.css-1261szd).ant-spin-nested-loading .ant-spin-container { position: relative; transition: opacity 0.3s; }

:where(.css-1261szd).ant-spin-nested-loading .ant-spin-container::after { position: absolute; top: 0px; inset-inline: 0px; bottom: 0px; z-index: 10; width: 100%; height: 100%; background: rgb(255, 255, 255); opacity: 0; transition: 0.3s; content: ""; pointer-events: none; }

:where(.css-1261szd).ant-spin-nested-loading .ant-spin-blur { clear: both; opacity: 0.5; user-select: none; pointer-events: none; }

:where(.css-1261szd).ant-spin-nested-loading .ant-spin-blur::after { opacity: 0.4; pointer-events: auto; }

:where(.css-1261szd).ant-spin-tip { color: rgba(0, 0, 0, 0.45); }

:where(.css-1261szd).ant-spin .ant-spin-dot-holder { width: 1em; height: 1em; font-size: 20px; display: inline-block; transition: transform 0.3s, opacity 0.3s; transform-origin: 50% 50%; line-height: 1; color: rgb(22, 119, 255); }

:where(.css-1261szd).ant-spin .ant-spin-dot-holder-hidden { transform: scale(0.3); opacity: 0; }

:where(.css-1261szd).ant-spin .ant-spin-dot-progress { position: absolute; inset: 0px; }

:where(.css-1261szd).ant-spin .ant-spin-dot { position: relative; display: inline-block; font-size: 20px; width: 1em; height: 1em; }

:where(.css-1261szd).ant-spin .ant-spin-dot-item { position: absolute; display: block; width: 9px; height: 9px; background: currentcolor; border-radius: 100%; transform: scale(0.75); transform-origin: 50% 50%; opacity: 0.3; animation-name: css-1261szd-antSpinMove; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear; animation-direction: alternate; }

:where(.css-1261szd).ant-spin .ant-spin-dot-item:nth-child(1) { top: 0px; inset-inline-start: 0px; animation-delay: 0s; }

:where(.css-1261szd).ant-spin .ant-spin-dot-item:nth-child(2) { top: 0px; inset-inline-end: 0px; animation-delay: 0.4s; }

:where(.css-1261szd).ant-spin .ant-spin-dot-item:nth-child(3) { inset-inline-end: 0px; bottom: 0px; animation-delay: 0.8s; }

:where(.css-1261szd).ant-spin .ant-spin-dot-item:nth-child(4) { bottom: 0px; inset-inline-start: 0px; animation-delay: 1.2s; }

:where(.css-1261szd).ant-spin .ant-spin-dot-spin { transform: rotate(45deg); animation-name: css-1261szd-antRotate; animation-duration: 1.2s; animation-iteration-count: infinite; animation-timing-function: linear; }

:where(.css-1261szd).ant-spin .ant-spin-dot-circle { stroke-linecap: round; transition: stroke-dashoffset 0.3s, stroke-dasharray 0.3s, stroke 0.3s, stroke-width 0.3s, opacity 0.3s; fill-opacity: 0; stroke: currentcolor; }

:where(.css-1261szd).ant-spin .ant-spin-dot-circle-bg { stroke: rgba(0, 0, 0, 0.06); }

:where(.css-1261szd).ant-spin-sm .ant-spin-dot, :where(.css-1261szd).ant-spin-sm .ant-spin-dot-holder { font-size: 14px; }

:where(.css-1261szd).ant-spin-sm .ant-spin-dot-holder i { width: 6px; height: 6px; }

:where(.css-1261szd).ant-spin-lg .ant-spin-dot, :where(.css-1261szd).ant-spin-lg .ant-spin-dot-holder { font-size: 32px; }

:where(.css-1261szd).ant-spin-lg .ant-spin-dot-holder i { width: 14px; height: 14px; }

:where(.css-1261szd).ant-spin.ant-spin-show-text .ant-spin-text { display: block; }
