@media (max-width: 991.98px) {
    #pwg-promo-modal.modal .modal-body {
        align-items:center
    }
}

#pwg-promo-modal.modal .modal-body .avast-logo {
    margin: 1.125rem .5rem
}

#pwg-promo-modal.modal .modal-body .modal-box {
    border: 1px solid;
    border-radius: 2rem
}

@media (min-width: 992px) {
    #pwg-promo-modal.modal .modal-body .modal-box .btn-wrapper {
        min-width:220px
    }
}

.password-generator {
    /* padding: 2rem 0 4rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 992px) {
    /* .password-generator { */
        /* padding:4rem 0 5rem */
    /* } */
}

.password-generator .generator-container {
    display: flex;
    align-items: center;
    flex-direction: column
}

@media (min-width: 992px) {
    .password-generator .generator-container {
        display:flex;
        align-items: center;
        gap: 2rem;
        flex-direction: row
    }
}

@media (min-width: 1280px) {
    .password-generator .generator-container {
        gap:2.5rem
    }
}

.password-generator .generator-container .image-container img {
    width: 100%
}

@media (max-width: 991.98px) {
    .password-generator .generator-container .generator {
        margin-top:2.5rem
    }
}

.password-generator .generator-container .generator .input-container {
    display: flex;
    align-items: center
}

@media (max-width: 991.98px) {
    .password-generator .generator-container .generator .input-container {
        flex-direction:column
    }
}

.password-generator .generator-container .generator .input-container label {
    display: block;
    width: 104px;
    left: auto;
    right: 42px;
    top: 10px;
    color: #071d2b
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator .input-container label {
        right:56px
    }
}

.password-generator .generator-container .generator .input-container .form-floating .form-control {
    width: 320px;
    text-overflow: ellipsis;
    padding-right: 9.5rem;
    pointer-events: none
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator .input-container .form-floating .form-control {
        width:360px;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-right: 10.5rem
    }
}

@media (min-width: 1280px) {
    .password-generator .generator-container .generator .input-container .form-floating .form-control {
        width:488px
    }
}

.password-generator .generator-container .generator .input-container .icon {
    transform: rotate(45deg);
    cursor: pointer
}

.password-generator .generator-container .generator-settings {
    display: flex;
    flex-direction: column;
    gap: 2.5rem
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator-settings {
        gap:3.5rem
    }
}

.password-generator .generator-container .generator-settings .length-settings {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator-settings .length-settings {
        flex-direction:row
    }
}

.password-generator .generator-container .generator-settings .length-settings .slider-settings {
    display: flex;
    align-items: center
}

.password-generator .generator-container .generator-settings .complexity-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator-settings .complexity-settings {
        flex-direction:row;
        gap: 1rem
    }
}

@media (min-width: 1280px) {
    .password-generator .generator-container .generator-settings .complexity-settings {
        gap:2.5rem
    }
}

.password-generator .generator-container .generator-settings .complexity-settings .complexity-checkbox {
    display: flex;
    gap: 1rem
}

@media (min-width: 768px) {
    .password-generator .generator-container .generator-settings .complexity-settings .complexity-checkbox {
        gap:1.5rem
    }
}

@media (min-width: 1280px) {
    .password-generator .generator-container .generator-settings .complexity-settings .complexity-checkbox {
        gap:2.5rem
    }
}

.password-generator .generator-container .generator-settings .complexity-settings .custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.password-generator .generator-container .generator-settings .complexity-settings .custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #C5D6E0;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 4px 0px rgba(7,29,43,0.12) inset;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center
}

.password-generator .generator-container .generator-settings .complexity-settings .custom-checkbox input[type="checkbox"]::before {
    content: "";
    width: .8rem;
    height: .8rem;
    transform: scale(0);
    background-color: #071d2b;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    box-shadow: 0px 2px 4px 0px rgba(7,29,43,0.12) inset
}

.password-generator .generator-container .generator-settings .complexity-settings .custom-checkbox input[type="checkbox"]:checked::before {
    transform: scale(1)
}

.password-generator .generator-container .generator-settings .complexity-settings .custom-checkbox input[type="checkbox"]:focus {
    outline: 1px solid #0070f6
}

.password-generator .generator-container .generator-settings .slider-container {
    position: relative
}

.password-generator .generator-container .generator-settings input[type=range] {
    -webkit-appearance: none;
    width: 220px;
    height: 12px;
    border-radius: 300px;
    cursor: pointer;
    position: relative;
    z-index: 1
}

@media (min-width: 1280px) {
    .password-generator .generator-container .generator-settings input[type=range] {
        width:287px
    }
}

.password-generator .generator-container .generator-settings #slider-border-part {
    position: absolute;
    top: 2px;
    left: 0;
    width: var(--slider-border-part-width);
    height: 12px;
    background-color: #fff;
    border: 1px solid #C5D6E0;
    border-radius: 300px
}

@media (min-width: 992px) {
    .password-generator .generator-container .generator-settings #slider-border-part {
        top:6px
    }
}

.password-generator .generator-container .generator-settings input[type=range]::-webkit-slider-runnable-track {
    width: 287px;
    height: 12px;
    border: none;
    border-radius: 300px;
    z-index: 100
}

.password-generator .generator-container .generator-settings input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border: 1px solid #0070f6;
    border-radius: 50%;
    background: #fff;
    margin-top: -16px;
    cursor: pointer;
    box-shadow: 0 8px 20px -8px rgba(0,112,246,0.32),0 8px 20px -8px rgba(7,29,43,0.32);
    z-index: 100
}

.password-generator .generator-container .generator-settings input[type=range]:focus {
    outline: none
}

.password-generator .generator-container .generator-settings input[type=range]::-moz-range-track {
    width: 287px;
    height: 12px;
    border: none;
    border-radius: 300px
}

.password-generator .generator-container .generator-settings input[type=range]::-moz-range-thumb {
    height: 40px;
    width: 40px;
    border: 1px solid #0070f6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 20px -8px rgba(0,112,246,0.32),0 8px 20px -8px rgba(7,29,43,0.32);
    cursor: pointer;
    z-index: 100
}

.password-generator .generator-container .generator-settings input[type=range]::-moz-focus-outer {
    border: 0
}

body[class*="mod-ar-"] .input-container {
    gap: 1.5rem
}

body[class*="mod-ar-"] .length-settings label,body[class*="mod-ar-"] .complexity-settings label {
    margin-right: 0 !important
}

body[class*="mod-ar-"] .length-settings .slider-settings,body[class*="mod-ar-"] .complexity-settings .slider-settings {
    gap: .75rem
}

@media (min-width: 992px) {
    body[class*="mod-da-"] .length-settings label,body[class*="mod-nl-"] .length-settings label {
        margin-right:1rem !important
    }
}

body[class*="mod-da-"] .length-settings label span:nth-child(2),body[class*="mod-nl-"] .length-settings label span:nth-child(2) {
    margin-left: .5rem !important
}

/*# sourceMappingURL=random-password-generator.css.map */
