@charset "utf-8";

.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon::before {
  display: none;
}

.anticon .anticon-icon {
  display: block;
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin::before, .anticon-spin {
  display: inline-block;
  animation: 1s linear 0s infinite normal none running loadingCircle;
}

@-webkit-keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
